.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
.card--flex-toolbar {
  margin-top: -64px;
}

.scrollContainer{
  width: auto;
  height: auto;   
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;       
  overflow-x: hidden;    
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="search"]{
  -webkit-appearance:none;

}
input::-webkit-search-cancel-button {display: none;}
