.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
.card--flex-toolbar {
  margin-top: -64px;
}

.scrollContainer{
  width: auto;
  height: auto;   
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;       
  overflow-x: hidden;    
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="search"]{
  -webkit-appearance:none;

}
input::-webkit-search-cancel-button {display: none;}



/* 以下是新增的Dplayer播放窗口组件的CSS */

video {
  max-width: 100%;
  display: block;
  margin: 1em auto;
  
}

.output {
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  padding: 10px;
  max-height: 480px;
  overflow: auto;
}

.output:empty::before {
  content: '这里记录操作状态，API支持情况等信息';
  opacity: .75;
}

.clear {
  float: right;
  margin: -2.75em 0 0 8em;
}